{% extends 'core/basr.html' %}
{% block content %}
{% load static %}
<section class="engine"><a href="https://mobirise.info/w">free html5 templates</a></section><section class="mbr-section content4 cid-s5ddC58m1t" id="content4-f">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Perritos en Adopcion</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Tras pasar por un arduo proceso de sanacion y cuidado, es hora de que estos pequeños consigan un dulce hogar donde vivir</h3>
            </div>
        </div>
    </div>
</section>
{% for dog in dogs %}
{% if dog.state == "0" %}
<section class="mbr-section content6 cid-s5ddIPmVTv" id="content6-g">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 90%;">
                      <img src="{{dog.photo.url}}" alt="Mobirise">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style display-7"><strong>{{dog.name}}:</strong>&nbsp;<br>{{dog.description}}<br><br>Tamaño: {{dog.race}}<br>Edad: {{dog.age}}<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}
<section once="footers" class="cid-s5d9sRlOF6" id="footer7-8">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    
                    
                    
                    
                    
                    
                <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.youtube.com/c/mobirise" target="_blank">
                            <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2019 Mobirise - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


  <script src="{% static 'core/assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'core/assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'core/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'core/assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'core/assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'core/assets/dropdown/js/nav-dropdown.js' %}"></script>
  <script src="{% static 'core/assets/dropdown/js/navbar-dropdown.js' %}"></script>
  <script src="{% static 'core/assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'core/assets/theme/js/script.js' %}"></script>

{% endblock %}